/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.like-icon .core {
  fill: var(--like-core-color);
  opacity: 0;
  transition: 0.3s linear 0.03s;
}

.like-icon .main-body {
  fill: var(--like-main-body-color);
  opacity: 0;
  transition: fill 0.3s 0.05s;
}

.like-icon .contour {
  fill: var(--like-contour-color);
  transition: fill 0.3s 0.06s;
}

.like-icon:hover .core,
.like-icon:hover .main-body {
  opacity: 1;
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--like-active-color);
  opacity: 1;
}

.like-icon.is-liked .core {
  fill: var(--like-active-color);
  opacity: 1;
  transition: fill 0.3s;
}

.like-icon.is-liked .main-body {
  fill: var(--like-active-color);
  transition: fill 0.3s 0.05s;
  opacity: 1;
}

.like-icon.is-liked .contour {
  fill: var(--like-active-color);
  transition: fill 0.3s 0.06s;
  opacity: 1;
}

.like-icon.is-liked .heart {
  animation: like-scale 0.3s ease-in 0.1s alternate;
}

.like-icon .sparks {
  fill: var(--like-sparks-color);
  opacity: 0;
}

.like-icon.is-liked .sparks {
  animation: sparks-appearance 0.3s ease-in 0.3s alternate;
}

@keyframes indicates {
    0% {
      transform: translateX(-4px);
    }
    50% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-4px);
    }
  }
  
  @keyframes opacity {
    from {
      opacity: 1;
    }
    to {
      opacity: 0.6;
    }
  }
  
  @keyframes outline {
    from {
      width: 0;
    }
    to {
      width: 100%;;
    }
  }
  
  @keyframes like-scale {
    from {
      transform: scale(1);
      transform-origin: 50% 50%;
    }
    to {
      transform: scale(1.5);
      transform-origin: 50% 50%;
    }
  }
  
  @keyframes sparks-appearance {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }