/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
    --bg-color: #FFF;
    --accent-color: #000;
    --bg-img: 
    repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
    linear-gradient(#e7e7e7, #e7e7e7 0.01%, #1a1a1a);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-color: #FFF;
        --accent-color: #000;
        --bg-img: 
        repeating-linear-gradient(90deg, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(#d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
        linear-gradient(#e7e7e7, #e7e7e7 0.01%, #1a1a1a);
    }
}

:root.theme-dark {
    --bg-color: #000;
    --accent-color: #00CC14;
    --btn-bg-color: #000;
    --btn-txt-color: #00CC14;
    --like-contour-color: #00CC14;
    --logo-shadow-color: #000;
    --like-main-body-color: #FF0000;
    --like-core-color: #FF0000;
    --bg-img: 
    repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px),
    linear-gradient(#007f0c, #007f0c 0.01%, #004306);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #000;
        --accent-color: #00CC14;
        --btn-bg-color: #000;
        --btn-txt-color: #00CC14;
        --like-contour-color: #00CC14;
        --logo-shadow-color: #000;
        --bg-img: 
        repeating-linear-gradient(90deg, #000, #000 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(#000, #000 2px, transparent 2px, transparent 4px),
        linear-gradient(#007f0c, #007f0c 0.01%, #004306);
    }
}